/* メッセージ表示パート */
.message__success {
    padding: 10px 30px;
    background: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
}

.message__error {
    padding: 10px 0;
    background: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
}

.message__error ul {
    margin: 0;
}

/* category入力・作成パート */
.category {
    margin: 0 auto;
    padding: 60px 15px;
    width: 1230px;
}

.category__form {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px
}

.category__form-item {
    display: flex;
    width: 70%;
}

.category__form-item-input {
    margin-right: 10px;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.category__form-button {
    width: 20%;
}

.category__form-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

/* category編集・更新・削除パート */
.category__list {
    margin: 0 auto;
    width: 70%;
}

.category__list-title {
    display: flex;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.category__list-title-content {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    margin: 0;
    text-align: left;
}

.category__items {
    padding: 0;
    margin: 0;
    width: 100%;
}

.category__item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.category__update-form {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.category__item-input {
    flex: 1;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.category__item-update,
.category__item-delete {
    padding: 10px;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.category__item-update {
    background: #0000ff;
    color: #fff;
}

.category__item-delete {
    background: #ff0000;
    color: #fff;
}