.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header__nav {}

.header__nav-list {}

.header__nav-item {}

.header__nav-link {
    color: #fff;
    text-decoration: none;
}