.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.message__success {
    padding: 10px 30px;
    background: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
}

.message__error {
    padding: 10px 30px;
    background: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
}

/* 教科書の回答 */
/* .todo__item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.todo__update-form {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.todo__item-input {
    flex: 1;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: bold;
} */