.header {
    background: #000;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.message__success {
    padding: 10px 30px;
    background: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
}

.message__error {
    padding: 10px 30px;
    background: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
}