/* Todo入力・作成パート */
.todo {
    margin: 0 auto;
    padding: 60px 15px;
    width: 1230px;
}

.todo__form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px
}

.todo__form-input {
    width: 70%;
}

.todo__form-input input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.todo__form-button {
    width: 20%;
}

.todo__form-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

/* Todo編集・更新・削除パート */
.todo__list {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.todo__list-title {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.todo__items {
    padding: 0;
    margin: 0;
    width: 100%;
}

.todo__item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.todo__update-form {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.todo__item-input {
    flex: 1;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.todo__item-update,
.todo__item-delete {
    padding: 10px;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.todo__item-update {
    background: #0000ff;
    color: #fff;
}

.todo__item-delete {
    background: #ff0000;
    color: #fff;
}