/* メッセージ表示パート */
.message__success {
    padding: 10px 30px;
    background: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
}

.message__error {
    padding: 10px 0;
    background: #f8d7da;
    color: #842029;
    border-color: #f5c2c7;
}

.message__error ul {
    margin: 0;
}

/* Todo入力・作成パート */
.todo {
    margin: 0 auto;
    padding: 30px 15px;
    width: 1230px;
}

.todo__section-title {
    margin: 0 auto;
    width: 70%;
}

.todo__form, .todo__search {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px
}

.todo__form-item, .todo__search-item {
    display: flex;
    width: 70%;
}

.todo__form-item-input, .todo__search-item-input {
    margin-right: 10px;
    padding: 10px;
    width: 70%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.todo__form-category-select,
.todo__search-category-select {
    padding: 10px;
    width: 30%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}


.todo__form-button, .todo__search-button {
    width: 20%;
}

.todo__form-submit, .todo__search-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

/* Todo編集・更新・削除パート */
.todo__list {
    margin: 0 auto;
    width: 70%;
}

.todo__list-title {
    display: flex;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.todo__list-title-content, .todo__list-title-category {
    font-weight: bold;
    width: 40%;
    margin: 0;
    text-align: left;
}

.todo__list-title-update,
.todo__list-title-delete {
    font-weight: bold;
    width: 10%;
    margin: 0;
    text-align: left;
}

.todo__items {
    padding: 0;
    margin: 0;
    width: 100%;
}

.todo__item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.todo__update-form {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.todo__item-input, .todo__item-category {
    flex: 1;
    height: 40px;
    border: none;
    font-size: 12px;
    line-height: 40px;
    text-align: left;
}

.todo__item-update,
.todo__item-delete {
    padding: 10px;
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.todo__item-update {
    background: #0000ff;
    color: #fff;
}

.todo__item-delete {
    background: #ff0000;
    color: #fff;
}