.todo {
    margin: 0 auto;
    padding: 60px 15px;
    width: 1230px;
}

.todo__form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.todo__form-input {
    width: 70%;
}

.todo__form-input input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.todo__form-button {
    width: 20%;
}

.todo__form-submit {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.todo__list {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.todo__list-title {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.todo__items {
    padding: 10px;
    width: 100%;
}

.todo__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.todo__update-form {
    width: 100%;
}

.todo__item-input {
    width: 20%;
}

.todo__item-update {
    padding: 10px;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

.todo__item-delete {
    padding: 10px;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}